<div class="row animated fadeIn">
    <div class="col-md-6">

        <div class="card">

            <div class="card-body">
                <h4 class="card-title">Médico: {{ medico.nombres }}</h4>
                <!-- <h6 class="card-subtitle">{{medico.nombres}} {{medico.apellidos}} </h6> -->
                <form #formMedico="ngForm" class="form p-t-20" ngNativeValidate (ngSubmit)="guardarMedico(formMedico)">
                    <div class="form-group">
                        <label>Nombres</label>
                        <div class="input-group">
                            <input [(ngModel)]="medico.nombres" name="nombre" type="text" class="form-control" placeholder="Nombres">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <div class="input-group">
                            <input [(ngModel)]="medico.apellidos" name="apellidos" type="text" class="form-control" placeholder="Apellidos">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Hospital</label>
                        <div class="input-group">
                            <!-- TODO Carga el select: Event.target.value > coge el id  -->
                            <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                              <option value="">Sekeccione Hospital</option>
                <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                  {{hospital.nombre}}
                </option>
              </select>
                        </div>
                    </div>


                    <div class="text-left">
                        <button *ngIf="nuevo" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i> Crear</button>
                        <button *ngIf="!nuevo" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i> Guardar cambios</button>
                        <button [routerLink]="['/medicos']" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="box-tittle m-b-0">{{hospital.nombre}}</h4>
                <br>
                <img [src]="hospital.img | imagen:'hospitales'" class="rounded img-fluid" alt=" img hospital">
            </div>
        </div>
    </div>


    <div class="col-md-3" *ngIf="medico._id">
        <div class="card">
            <div class="card-body">
                <h4 class="box-tittle m-b-0">{{medico.nombres}} {{medico.apellidos}}</h4>
                <br>
                <img (click)="cambiarFoto()" [src]="medico.img | imagen:'medicos'" class="rounded img-fluid" style="cursor: pointer;" alt="img medico">
            </div>
        </div>
    </div>

</div>