<div class="row">
    <div class="col-md-6">

        <div class="card">

            <div class="card-body">
                <h4 class="card-title">Médico</h4>
                <h6 class="card-subtitle">nombre medico</h6>
                <form class="form p-t-20">
                    <div class="form-group">
                        <label>Nombres</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputuname2" placeholder="Username">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleInputuname2" placeholder="Username">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                    </div>

                    <div class="text-left">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
                        <button [routerLink]="['/medicos']" class="btn btn-inverse waves-effect waves-light">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="box-tittle m-b-0">Hospital</h4>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="box-tittle m-b-0">Foto</h4>
            </div>
        </div>
    </div>

</div>