"
<div class="row">"
    <div class="col-12">
        <mat-card>
            <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels" [chartType]="radarChartType">
        </canvas>
            </div>
        </mat-card>
    </div>
</div>

<hr>

<!-- ============================================================ -->

<div class="row">
    <div class="col-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title> {{ graficos.grafico1.leyenda }} </mat-card-title>
            </mat-card-header>
            <app-grafica-dona [chartLabels]="graficos.grafico1.labels" [chartData]="graficos.grafico1.data" chartType="doughnut"></app-grafica-dona>
        </mat-card>
    </div>
    <div class="col-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title> {{ graficos.grafico2.leyenda }} </mat-card-title>
            </mat-card-header>
            <app-grafica-dona [chartLabels]="graficos.grafico2.labels" [chartData]="graficos.grafico2.data" chartType="doughnut"></app-grafica-dona>
        </mat-card>
    </div>
</div>

<br>

<div class="row">
    <div class="col-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title> {{ graficos.grafico3.leyenda }} </mat-card-title>
            </mat-card-header>
            <app-grafica-dona [chartLabels]="graficos.grafico3.labels" [chartData]="graficos.grafico3.data" chartType="doughnut"></app-grafica-dona>
        </mat-card>
    </div>
    <div class="col-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title> {{ graficos.grafico4.leyenda }} </mat-card-title>
            </mat-card-header>
            <app-grafica-dona [chartLabels]="graficos.grafico4.labels" [chartData]="graficos.grafico1.data" chartType="doughnut"></app-grafica-dona>
        </mat-card>
    </div>
</div>